<div class="expense-table-container">

  <h2>Danh sách lý do</h2>
  <br>
  <button mat-button color="primary" (click)="openEditDialog(0)">Thêm mới</button>

  <table class="expense-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tên lý do</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reasonTypes">
        <td>{{ item.id }}</td>
        <td>{{ item.reasonName }}</td>
        <td>{{ item.active }}</td>
        <td>
          <button mat-button color="primary" (click)="openEditDialog(item.id)">Sửa</button>
          <!-- <button mat-button color="primary" (click)="deleteRecord(item)">Xoá</button> -->

          <!-- <button class="btn btn-edit" (click)="openEditDialog(item.id)">Sửa</button>
          <button class="btn btn-delete" (click)="deleteRecord(item)">Xoá</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>