<div class="expense-form">
  <h2>Thêm ghi chú chi tiêu</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="reason">Lý do</label>
      <input id="reason" type="text" [(ngModel)]="reason" name="reason" placeholder="Nhập lý do..." />
    </div>

    <div class="form-group">
      <label for="amount">Số tiền (VND)</label>
      <input id="amount" type="text" [value]="formatCurrency(amount)" (input)="onAmountInput($event)" name="amount"
        placeholder="Nhập số tiền..." />
    </div>

    <button type="submit">Lưu</button>
  </form>

  <p class="message">{{ message }}</p>

  <div>
    <button mat-button color="warn" (click)="cancel()">Hủy</button>
  </div>
</div>